body {
	color: #009B72;
	background-color: #3D4046;
	font-family: 'Anonymous Pro', monospace;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
}

a {
	color: #FB3640;
	text-decoration: none;
}

a:hover, a:focus {
	color: #FB3640;
	text-decoration: underline;
}

#header {
	margin: 1rem 0;
}

#header__text {
	text-align: center;
	border: 2px solid #FB3640;
	text-transform: uppercase;
	padding: 0.5rem;
}

#header__text .title, #header__text .subtitle {
	margin: 0;
	padding: 0;
}

#header__text .title {
	font-family: 'Archivo Black', sans-serif;
}

#header__text .subtitle {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 200;
}

.card {
	background-color: transparent;
	margin-bottom: 1rem;
}

.card-title {
	background-color: #3D4046;
	padding: 0.3rem;
}

.card-text {
	background-color: #009B72;
	padding: 0.3rem;
}

#tools {
	display: none;
}

.badge-default {
	background-color: #FB3640;
}

@media (min-width: 768px) { 
	#tools {
		display: inline-block;
	}
}
