body {
    color: #000;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}

a {
    color: #FB3640;
    text-decoration: none;
}

a:hover, a:focus {
    color: #FB3640;
    text-decoration: underline;
}

#header {
    margin-bottom: 3rem;
}

#header__text {
    text-align: center;
    color: #fff;
    background-color:#FB3640;
    text-transform: uppercase;
    padding: 0.5rem;
}

#header__text .title, #header__text .subtitle {
    margin: 0;
    padding: 0;
}

.projects__list {
    padding: 0;
    list-style: none;
}

.project__desc {
    padding-bottom: 0;
}

.project-card .badge-default {
    background-color: #FB3640;
}
